.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* changebutton */
.buttons {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

.changeButton {
  margin: 16px 8px;
  width: 100px;
  height: 30px;
  font-weight: 600;
  border-bottom: solid 1px hsla(0, 0%, 50%, 0.400);
  text-align: center;
}

.changeButton:hover {
  background-color: rgba(128, 128, 128, 0.200);
}
